.campaign-body{
    background-color: #6AC5FE;
}
.campaign-container{
    position: relative;
    background-color: #6AC5FE;
    height: 100vh;
    width: calc(100% - 15%);   
    margin-left: 15%;
    z-index: 100;
}
.campaign-header{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
.campaign-header-text{
    font-size: 5em;
}
.campaign-button-container{
    width: 15vw;
    height: 30vh;
    text-align: center;
    background-color: rgba(2, 62, 138, 0.10);
    border: none;
    border-radius: 10px;
    transition: 500ms;
    box-shadow: 0px 7px 10px 2px rgb(232, 231, 231, 0.5);
}
.campaign-button-container:hover{
    background-color: rgba(2, 62, 138, 0.50);
    transition: 500ms;
    transform: scale(1.1);
    box-shadow: 0px 7px 10px 2px rgb(232, 231, 231, 1);
}
.campaign-button{
    text-align: center;
    color: white;
}
.admin-wave{
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    z-index: 0;
    animation: wave 2s ease-in-out infinite alternate;
}
@keyframes wave{
    0% {transform: translateX(5px) rotate(-0.5deg);}
    50% {transform: translateX(0) rotate(0.5deg)}
    100% {transform: translateX(5px) rotate(-0.5deg);}
}