.dash-navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1040;

    width: 15%;
    color: whitesmoke;
}

.dash-nav-body{
    background-color: rgba(2, 62, 138, 0.10);
    box-shadow: 0px 7px 10px 2px rgb(232, 231, 231, 0.5);

    height: 100%;
}

.dash-nav-brand{
    color: whitesmoke;
    left: 5%;
    position: relative;

    font-size: 1.5em;
    font-weight: 400;
}

.dash-nav-brand:hover{
    color: whitesmoke;
}

.dash-nav-link{
    color: whitesmoke;

    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 3vh;
}

.dash-nav-link::after{
    position: absolute;
    left: 4%;

    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transition: width 0.5s;
}

.dash-nav-link:hover::after{
    width: 80%;
}

.dash-nav-link:hover{
    color: whitesmoke;
}