.dashboard-body{
    background-color: #6AC5FE;
}
.dashboard-container{
    position: relative;
    background-color: #6AC5FE;
    height: 100vh;
    width: calc(100% - 15%);   
    margin-left: 15%;
    z-index: 100;
}
.dashboard-header{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
.dashboard-header-text{
    font-size: 5em;
}
.dashboard-wave{
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    z-index: 0;
    animation: wave 2s ease-in-out infinite alternate;
}
@keyframes wave{
    0% {transform: translateX(5px) rotate(-0.5deg);}
    50% {transform: translateX(0) rotate(0.5deg)}
    100% {transform: translateX(5px) rotate(-0.5deg);}
}