.loading-icon{
    font-size: 3rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 1.5s linear infinite;
}

.loading-container {
    margin: 0;
    min-height: 0;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}