.login-body{
    position: relative;
    overflow: hidden;
    background-color: #6AC5FE;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: block;
    margin: 0;
    text-align: center;

    color: white;
}

.login-wave{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 0;
    animation: wave 2s ease-in-out infinite alternate;
}

@keyframes wave{
    0% {transform: translateX(5px) rotate(-0.5deg);}
    50% {transform: translateX(0) rotate(0.5deg)}
    100% {transform: translateX(5px) rotate(-0.5deg);}
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 40%;
    transition: 500ms;

    padding: 25px;

    background-color: rgba(2, 62, 138, 0.10);
    box-shadow: 0px 7px 10px 2px rgb(232, 231, 231, 0.5);

    border-radius: 10px;

    /* Center in viewport */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.login-form:hover{
    width: 32%;
    height: 42%;
    background-color: rgba(2, 62, 138, 0.10);
    box-shadow: 0px 5px 15px 0px rgb(232, 231, 231, 1);
}

.login-input{
    width: 25vw;
    height: 40px;
    margin: 10px 0;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: rgba(2, 62, 138, 0);
    color: white;

    transition: 300ms;
}
.login-input:focus{
    outline: none;
    box-shadow: 0px 5px 15px 0px rgb(232, 231, 231, 0.5);
}
.login-input:hover{
    transition: 300ms;
    background-color: rgba(2, 62, 138, 0.10);
    box-shadow: 0px 5px 15px 0px rgb(232, 231, 231, 0.5);
}

.login-button{
    background-color: rgba(2, 62, 138, 0.10);
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 6px;
    border-color: transparent;
    box-shadow: 0px 5px 15px 0px rgb(232, 231, 231, 0.5);

    transition: 500ms;
}

.login-button:hover{
    transition: 500ms;
    transform: scale(1.1);
    background-color: rgba(2, 62, 138, 0.10);
    box-shadow: 0px 5px 15px 0px rgb(232, 231, 231, 1);
}