.quiz-body {
    background-color: white;
    min-height: 100vh;
    width: 100%;
}

.fisherman-image {
    width: 500px;  /* You can adjust this value */
    height: 500px; /* You can adjust this value */
    object-fit: contain; /* This maintains aspect ratio */
    transform-origin: center;
}

