.quiz-container {
    /* layout for the quiz wrapper */
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.cursor-follower { /*the fish hook image that follows the cursor */
    transform: translate(-60%, -8%);    
    width: 40px;
    height: 40px;
}
.quiz-body {
    background-color: white;
    min-height: 100vh;
    width: 100%;
}

.fisherman-image {
    width: 500px;  /* You can adjust this value */
    height: 500px; /* You can adjust this value */
    object-fit: contain; /* This maintains aspect ratio */
    transform-origin: center;
}

.quiz-body {
    background-color: white;
    min-height: 100vh;
    width: 100%;
}
