.quiz-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(163, 203, 218);
}

.quiz-scene {
    width: 90%;
    height: 90vh;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.white-box {
    position: absolute;
    top: 50px;
    transform: translate(-50%, -50%);
    width: 6000px;
    height: 436px;
    background: #fbfbfd;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.quiz-body {
    background: linear-gradient(
    180deg,
    rgba(120, 200, 240, 1) 0%,
    rgba(110, 190, 238, 1) 25%,
    rgba(95, 175, 232, 1) 60%,
    rgba(80, 160, 225, 1) 100%
    );
    min-height: 100vh;
    width: 100%;
}

/* Moved static follower styles here */
.cursor-follower {
    position: fixed;
    width: 40px;
    height: 40px;
}

.fisherman-image {
    width: 500px;  /* You can adjust this value */
    height: 500px; /* You can adjust this value */
    object-fit: contain; /* This maintains aspect ratio */
    transform-origin: center;
    position: sticky;
    overflow: clip;
}

.quiz-midbar {
    top: 268px;
    left: 300px;
    width: 100%;
    height: 2px;
    background-color: black;
    position: sticky;
}
