.trainer-body{
    background-color: #6AC5FE;
}
.trainer-container{
    position: relative;
    background-color: #6AC5FE;
    height: 100%;
    width: calc(100% - 15%);   
    margin-left: 15%;
    z-index: 100;
}
.trainer-header{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
.trainer-header-text{
    font-size: 5em;
}
.training-concept{
    text-align: left;
    margin-left: 5vw;
    color: white;

    font-size: 1.5em;
}
.trainer-button{
    position: relative;
    top: 50%;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);

    background-color: rgba(2, 62, 138, 0.10);
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 6px;
    border-color: transparent;
    box-shadow: 0px 5px 15px 0px rgb(232, 231, 231, 0.5);

    transition: 500ms;
}

.trainer-button:hover{
    transition: 500ms;
    background-color: rgba(2, 62, 138, 0.10);
    box-shadow: 0px 5px 15px 0px rgb(232, 231, 231, 1);
}